html {
  font-family: Quicksand, sans-serif;
}

.header,
.footer {
  background-color: #bcec63;
}

.btn {
  background-color: #0c56c6;
  border-color: #0c56c6;
  color: #fff;
}

.btn a {
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  border-color: #0c56c6;
  color: #0c56c6;
}

.btn a:hover {
  color: #0c56c6;
}

.caption {
  color: #0c56c6;
}

form {
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  color: #000;
}

.border {
  background-color: #f0f0f0;
}

.prices {
  border: 6px solid;
  border-color: #bcec63;
  border-radius: 20px;
}

.footer {
  border-top: 8px solid;
  border-color: #f0f0f0;
}

.green {
  color: #bcec63;
}

.img-flex {
  display: block;
  width: 100%;
}

.card {
  margin: 0;
  position: relative;
}

.item {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  max-width: 15em;
  color: #fff;
}

.item:hover,
.pages:hover {
  color: #0c56c6;
}
